/* Home Page */
.header{
    display: flex;
    justify-content: space-around;

    background-color: #33ccff;
    height: 50px;
}

.top{
    color: white;
    
}

.title{
    display: flex;
    justify-content: center;

    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
}

.pixel{
    width: 100%;
    height: 300px;

    border: solid black 2px;
}

.footer{
    /* display: block; */
    
    background-color: #ff99cc ;
    
    margin-top: 100px;

    bottom: 0;
    left: 5px;
    height: 60px;
}

.bot{
    color: white;

    display: block;
}

.announcements{
    margin-top: 100px;
}
/* About Page */
.missionPicture{
    height: 250px;
    width: 100%;
}

.missionstatement{
    font-weight: bold;
    font-size: 30px;

    font-family: 'Permanent Marker', cursive;
}

.members{
    margin-top: 100px;
}

.profile{
    border: solid black 2px;

    height: 60px;
    width: 20%;

    margin-right: 10px;
}

.people{
    display: flex;

    margin: 5px;
}
/* Student Projects */

body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}