body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.header{
    display: flex;
    justify-content: space-around;
    height: 50px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.top{
    color: white;

    font-size: 45px;
}

.bot{
    color: white;

    display: block;
    font-size: 30px;
}

.footer{
    background-color: #ff99cc ;
    
    margin-top: 100px;

    bottom: 0;
    left: 5px;
    height: 70px;
}
/* Home Page */
.title{
    display: flex;
    justify-content: center;

    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 15px;
    margin-top: 50px;
}

.pictures{
    display: flex;
    justify-content: center;
}

.pixel{

    width: 75%;
    height: 400px;

    background-color: white;
    border: solid black 2px;
}

.announcements{
    margin-top: 100px;
}

/* About Page */
.planet{
    display: flex;
    justify-content: center;
}

.missionPicture{
    height: 250px;
    width: 40%;
}

.missionstatement{
    font-weight: bold;
    font-size: 30px;

    font-family: 'Permanent Marker', cursive;
}

.members{
    margin-top: 100px;

    display: block;
    justify-content: space-between;
}

.people{
    margin: 20px;
    margin-right: 350px;
}

.row{
    display: flex;
}


.profile{
    border: solid black 2px;

    height: 150px;
    width: 150px
}

/* Student Projects */
.pic{
    border: solid black 2px;
    height: 250px;
    width: 30%;
    margin: 0.5px;
}

.row1{
    display: flex;
    justify-content: center;
}


